#aap {background-color: #ffd700;}
#kat {background-color: #b22222;}
#kip {background-color: #ff4500;}
#ezel {background-color: #fffacd;}
#schildpad {background-color: #006400;}
#hond {background-color: #008080;}
#koe {background-color: #0000b0;}
#haai {background-color: #ffe4e1;}
#aap2 {background-color: #11d710;}
#kat2 {background-color: #ff2210;}
#kip2 {background-color: #114510;}
#ezel2 {background-color: #11faef;}
#schildpad2 {background-color: #ff6411;}
#hond2 {background-color: #ff8090;}
#koe2 {background-color: #ff00c6;}
#haai2 {background-color: #22e4f2;}
header {background-color: #fffff0; width: 100%; height: 200px;}
footer {background-color: #dcdcdc; width: 100%; height: 200px;}
